/* Сброс/Reset */
h1,h2,h3,h4,h5,h6,div,body,p,ul,ol,li{
    padding: 0;
    margin: 0
}

ul,ol{
	list-style: none
}

body{
    font-family: 'Noto Sans', sans-serif;
	background-image: url(../images/funart.jpg);
}

h1 {
	text-align: center;
	color: #fff;
	padding-bottom: 30px;
}

p {
	color: #fff;
	padding-bottom: 20px;
	font-size: 20px;
}

.osnovateli_roda_main {
	padding: 50px 200px;
}

.rodoslovnye {
	padding-bottom: 20px;
}

.or_slyders, .or_slyders2 {
	display: flex;
	justify-content: center;
	padding-bottom: 200px;
}

.or1, .or2, .or3, .or4 {
	padding: 0 15px;
}

.or1 a, .or2 a, .or3 a, .or4 a {
	background: #dbd6d8e9;
	color:#000000;
	font-weight: 700;
	padding: 15px 15px 15px 20px;
	border-radius: 15px;
	text-decoration: none;
	letter-spacing: 3px;
}

.or1 a:hover, .or2 a:hover, .or3 a:hover, .or4 a:hover, .or5 a:hover, .or6 a:hover{
	color:#d0ad7a;
}

.rodoslovnye_btn {
	text-align: center;
	padding: 50px 0;
}

.rodoslovnye_btn a {
	background: #dbd6d8e9;
	color:#000000;
	font-weight: 700;
    padding: 30px 72px 30px 80px;
	border-radius: 15px;
	text-decoration: none;
	letter-spacing: 3px;
}

.rodoslovnye_btn a:hover {
	color:#d0ad7a;
}



